<nav
  class="navbar mb-5 bg-navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container navbar-custom">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4 has-text-weight-medium" routerLink="/">
        @com
      </a>
    </div>

    <div id="navbarBasicExample" class="">
      <div
        class="navbar-end"
        [class.is-blur]="(isAutenticated$ | async) === null"
      >
        <div class="navbar-item">
          <div class="buttons" style="gap: 5px">
            @if (isAutenticated$ | async) {
              <a class="button is-link is-rounded" routerLink="/inbox">
                <span class="icon-text">
                  <!-- <span class="icon">
                    <i class="fa fa-bell"></i>
                  </span> -->
                  <span class="is-size-7">{{ username$ | async }}</span>
                </span>
              </a>
              <button
                class="button is-light is-rounded"
                (click)="logout()"
                [class]="{ 'is-loading': isLoadingSignout() }"
              >
                Log out
              </button>
            } @else {
              <a class="button is-link is-rounded" routerLink="/auth/signup">
                <strong>Sign up</strong>
              </a>
              <a
                class="button is-link is-light is-rounded"
                routerLink="/auth/signin"
              >
                Log in
              </a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <nav
  class="navbar mb-5 bg-navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-size-4 has-text-weight-medium" routerLink="/">
        @com
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div
        class="navbar-end"
        [class.is-blur]="(isAutenticated$ | async) === null"
      >
        <div class="navbar-item">
          <div class="buttons">
            @if (isAutenticated$ | async) {
              <a class="button is-link is-rounded" routerLink="/inbox">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa fa-bell"></i>
                  </span>
                  <span>{{ username$ | async }}</span>
                </span>
              </a>
              <button
                class="button is-light is-rounded"
                (click)="logout()"
                [class]="{ 'is-loading': isLoadingSignout() }"
              >
                Log out
              </button>
            } @else {
              <a class="button is-link is-rounded" routerLink="/auth/signup">
                <strong>Sign up</strong>
              </a>
              <a
                class="button is-link is-light is-rounded"
                routerLink="/auth/signin"
              >
                Log in
              </a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> -->
